html,
body {
  height: 100%;
  background-color: #efefef;
}

body {
  margin: 0;
}

header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.center {
  text-align: center;
}

.container {
  height: calc(100vh - 164px);
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 70%;
}

.box {
  display: flex;
  flex: calc(100% / 3);
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 65px;
}

.right {
  flex: 30%;
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
}

.button {
  color: #ffffff;
  background-color: #72c3dc;
  border: 0;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  margin: 16px 32px;
}

@media screen and(max-width:400px) {
  .header {
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
  }

  .container {
    flex-direction: column-reverse;
  }

  .right {
    flex-grow: 0;
    flex-basis: 0;
    flex-direction: row;
    justify-content: center;
  }

  .button {
    margin: 0;
    height: 30px;
    width: 80px;
    margin: 10px;
  }
}
